@using Microsoft.AspNet.Identity
@using System.Web.Security;
@using ClosDotNet.Resources.Resources;

@if (!Request.IsAuthenticated)
{
    <div class="container">
        <br />
        <footer>
            <p class="copyright">
                @LoginResources.Copyright
            </p>
        </footer>
    </div>
}
